@font-face {
    font-family: 'BasicFont';
    src: url('../fonts/NanumMyeongjo.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

@font-face { /* 새 폰트를 위한 새로운 규칙 */
    font-family: 'BoldFont'; /* 새 폰트 이름 */
    src: url('../fonts/NanumMyeongjoBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: 'BasicFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333; /* header와 동일한 배경 색상 */
    color: #fff; /* 텍스트 색상 조정 */
    padding-top: 60px; /* 헤더 높이만큼 패딩 추가 */

    /* 배경색을 고정 */
    background-attachment: fixed;
    /* 위쪽은 회색, 아래쪽은 연살구색으로 설정 */
    background-image: 
    linear-gradient(to bottom, grey 0%, grey 100%), 
    linear-gradient(to bottom,  #ffdab9 0%, #ffdab9 100%);
    /* 첫 번째 배경색은 #section 요소까지 */
    background-size: 100% 100%, 100% 0%; 
    /* 두 번째 배경색은 #section 요소 아래부터 시작 */
    background-position: 0% 0%, 0% 100%;
    /* 두 번째 배경색은 #section 요소 아래부터 시작 */
    background-repeat: no-repeat;
}


#header {
    font-family: 'BoldFont', Arial, sans-serif;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

#header h1 {
    margin: 1em;
    font-size: 1.5em;
}

#nav {
    display: flex;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav ul li {
    margin: 0 10px;
}

#nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1em;
    padding: 5px 10px;
}

#nav ul li a:hover {
    background-color: #555;
    border-radius: 5px;
}

#section {
    padding: 20px; /* 내용 패딩 추가 */
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#footer a img {
    vertical-align: middle;
}

