@font-face {
    font-family: 'CustomFont';
    src: url('../fonts/CustomFont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'CustomFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    padding-top: 80px; /* 헤더 높이만큼 패딩 추가 */
}

#header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    transition: all 0.3s ease;
    z-index: 1000;
}

#header h1 {
    margin: 0;
    font-size: 2.5em;
    transition: all 0.3s ease;
}

#nav {
    background-color: #444;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0; /* nav 바의 두께를 더 줄임 */
}

.nav-section {
    display: flex;
    justify-content: center;
    margin: 3px 0; /* 섹션 간의 간격을 더 줄임 */
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#nav ul li {
    margin: 0 8px; /* 항목 간의 간격을 더 줄임 */
}

#nav ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px 10px; /* 링크의 패딩을 더 줄임 */
    text-decoration: none;
    font-size: 0.8em; /* 폰트 사이즈를 더 줄임 */
}

#nav ul li a:hover {
    background-color: #111;
}

#section {
    padding: 20px;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}

#footer a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

#footer a img {
    vertical-align: middle;
}

